---
import PostItemList from '@/components/post-items-list';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { sortContentByDate } from '@/utils/sorts';
import { getCollection } from 'astro:content';

const pageData = {
  title: 'Blog',
  description: 'Long format about thoughts and other topics.',
};

const allPosts = await getCollection('blog', ({ data }) => data.draft !== true);
const filterEnPosts = allPosts.map((post) => {
  const [lang, id] = post.id.split('/');

  if (lang === 'en')
    return {
      ...post,
      id: id.split('.')[0],
    };
  else null;
});
sortContentByDate(filterEnPosts);

const lang = getLangFromUrl(Astro.url);
---

<Layout {...pageData}>
  <div class='prose prose-invert max-w-3xl mx-auto'>
    <h1>{pageData.title}</h1>
    <p>{pageData.description}</p>
    <PostItemList
      items={filterEnPosts}
      lang={lang}
    />
  </div>
</Layout>
