---
import Layout from "@/layouts/Layout.astro";
import LinkButton from "@/components/link-button";
---

<Layout title="juancmandev" description="Error 404. Not found.">
    <div class="prose prose-invert">
        <h1 class="">Error 404: Not found</h1>
        <p>Do not worry, you can <strong>go back to home</strong>.</p>
        <LinkButton variant="default" href="/" className="no-underline"
            >Home</LinkButton
        >
    </div>
</Layout>
