---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title='Not found'
  description='Error 404: Not found.'
>
  <div class='prose prose-invert max-w-3xl mx-auto'>
    <h1 class=''>Error 404: Not found</h1>
  </div>
</Layout>
