---
import Layout from "@/layouts/Layout.astro";
import LinkButton from "@/components/link-button";
import { getCollection } from "astro:content";
import PostItem from "@/components/post-item";
import { sortContentByDate } from "@/utils/sorts";
import { getLangFromUrl } from "@/i18n/utils";

const allPosts = await getCollection("blog", ({ data }) => data.draft !== true);
const allEnPosts = allPosts.map((post) => {
    const [lang, ...slug] = post.slug.split("/");

    if (lang !== "es")
        return {
            ...post,
            slug: slug.toString(),
        };
    else null;
});
sortContentByDate(allEnPosts);
const last3Blogs = allEnPosts.slice(0, 3);

const allProjects = await getCollection(
    "portfolio",
    ({ data }) => data.draft !== true,
);
const allEnProjects = allProjects.map((project) => {
    const [lang, ...slug] = project.slug.split("/");

    if (lang !== "es")
        return {
            ...project,
            slug: slug.toString(),
        };
    else null;
});
sortContentByDate(allEnProjects);
const last3Projects = allEnProjects.slice(0, 3);

const lang = getLangFromUrl(Astro.url);
---

<Layout
    title="juancmandev"
    description="Welcome to my domain, stranger. I am juancmandev; Web Developer, Linux enthusiast, and privacy defender."
>
    <div class="prose prose-invert">
        <h1 class="text-primary">Welcome to my domain, stranger.</h1>
        <p>
            I am <strong class="text-primary">juancmandev</strong>; <strong
                >Web Developer</strong
            >, <strong>Linux</strong> enthusiast, and <strong>privacy</strong> defender.
        </p>
        <p>
            This is my <strong>website</strong>, a piece of the Internet that I
            could call my <strong>home base</strong>. Here, I share my passion
            about open source projects and other topics.
        </p>
        <section>
            <h2>Latest posts</h2>
            <ul class="mt-0 p-0 list-none">
                {
                    last3Blogs.map((blogpost: any) => (
                        <li class="p-0">
                            <PostItem
                                type="blog"
                                lang={lang}
                                slug={blogpost.slug}
                                date={blogpost.data.date!}
                                title={blogpost.data.title!}
                            />
                        </li>
                    ))
                }
            </ul>
            <LinkButton
                variant="secondary"
                href="/blog"
                className="no-underline">More posts</LinkButton
            >
        </section>
        <section>
            <h2>Latest projects</h2>
            <ul class="mt-0 p-0 list-none">
                {
                    last3Projects.map(
                        (project) =>
                            project && (
                                <li class="p-0">
                                    <PostItem
                                        lang={lang}
                                        type="portfolio"
                                        slug={project.slug}
                                        date={project.data.date!}
                                        title={project.data.title!}
                                    />
                                </li>
                            ),
                    )
                }
            </ul>
            <LinkButton
                variant="secondary"
                href="/portfolio"
                className="no-underline">More projects</LinkButton
            >
        </section>
    </div>
</Layout>
