---
import PostItemList from '@/components/post-items-list';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { sortContentByDate } from '@/utils/sorts';
import { getCollection } from 'astro:content';

const pageData = {
  title: 'Videos',
  description: 'Guiones de los videos de mi canal de YouTube.',
};

const allVideos = await getCollection(
  'videos',
  ({ data }) => data.draft !== true
);
sortContentByDate(allVideos);

const lang = getLangFromUrl(Astro.url);
---

<Layout {...pageData}>
  <div class='prose prose-invert max-w-3xl mx-auto'>
    <h1>{pageData.title}</h1>
    <p>{pageData.description}</p>
    <PostItemList
      items={allVideos}
      lang={lang}
    />
  </div>
</Layout>
