---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="juancmandev"
  description="Bienvenido a mi dominio, extraño. Soy juancmandev; Desarrollador Web, entusiasta de Linux, y defensor de la privacidad."
>
  <div class="prose prose-invert">
    <h1 class="text-primary">Bienvenido a mi dominio, extraño.</h1>
    <p>
      Soy <strong class="text-primary">juancmandev</strong>; <strong
        >Desarrollador Web</strong
      >, entusiasta de <strong>Linux</strong> y defensor de la <strong
        >privacidad.</strong
      >
    </p>
    <p>
      Este es mi <strong>website</strong>, un pedazo de Internet al que puedo
      llamar <strong>hogar</strong>. Aquí comparto mi pasión por proyectos open
      source y otros temas.
    </p>
  </div>
</Layout>
