---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  lang="es"
  title="juancmandev"
  description="Bienvenido a mi dominio, extraño. Soy juancmandev; Desarrollador Web, entusiasta de Linux, y defensor de la privacidad."
>
  <div class="prose prose-invert">
    <h1 class="text-primary">Bienvenido a mi dominio, extraño.</h1>
    <p>
      Soy <strong class="text-primary">juancmandev</strong>; <strong
        >Desarrollador Web</strong
      >, entusiasta de <strong>Linux</strong> y defensor de la <strong
        >privacidad.</strong
      >
    </p>
  </div>
</Layout>
