---
import LinkButton from '@/components/link-button';
import PostItemList from '@/components/post-items-list';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { sortContentByDate } from '@/utils/sorts';
import { getCollection } from 'astro:content';

const pageData = {
  title: 'juancmandev',
  description:
    'Bienvenido a mi dominio, extraño. Soy juancmandev; Desarrollador Web, entusiasta de Linux, y defensor de la privacidad.',
};

const allPosts = await getCollection('blog', ({ data }) => data.draft !== true);
const allEsPosts = allPosts.map((post) => {
  const [lang, id] = post.id.split('/');

  if (lang !== 'en')
    return {
      ...post,
      id: id.split('.')[0],
    };
  else null;
});
sortContentByDate(allEsPosts);
const last3Blogs = allEsPosts.slice(0, 3);

const lang = getLangFromUrl(Astro.url);
---

<Layout {...pageData}>
  <div class='prose prose-invert max-w-3xl mx-auto'>
    <h1 class='text-primary'>Bienvenido a mi dominio, extraño.</h1>
    <p>
      Soy <strong class='text-primary'>juancmandev</strong>; <strong
        >Desarrollador Web</strong
      >, entusiasta de <strong>Linux</strong> y defensor de la <strong
        >privacidad.</strong
      >
    </p>
    <p>
      Este es mi <strong>website</strong>, un pedazo de Internet al que puedo
      llamar <strong>hogar</strong>. Aquí comparto mi pasión por proyectos open
      source y otros temas.
    </p>
    <section>
      <h2>Últimos posts</h2>
      <PostItemList
        items={last3Blogs}
        lang={lang}
      />
      <LinkButton
        variant='secondary'
        href='/es/blog'
        className='no-underline'
        >Más posts</LinkButton
      >
    </section>
  </div>
</Layout>
