---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import components from "@/components/mdx/wrapper";
import formatDate from "@/utils/format-date";
import type { CollectionEntry } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";

interface Props {
    project: CollectionEntry<"portfolio">;
}

export async function getStaticPaths() {
    const allProjects = await getCollection(
        "portfolio",
        ({ data }) => data.draft !== true,
    );
    const filterEnProjects = allProjects.map((project) => {
        const [lang, ...slug] = project.slug.split("/");

        if (lang === "es")
            return {
                ...project,
                slug: slug.toString(),
            };
        else null;
    });

    return filterEnProjects.map((project) => ({
        params: { slug: project?.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await project.render();

const lang = getLangFromUrl(Astro.url);
---

<Layout title={project.data.title} description={project.data.description}>
    <article class="prose prose-invert">
        <h1>{project.data.title}</h1>
        <Content components={{ ...components }} />
        <hr />
        <p>
            <strong>Publicado: </strong>
            {project.data.date && formatDate(new Date(project.data.date), lang)}
        </p>
    </article>
</Layout>
